html, body {
  margin: 0;
  padding: 0;
  background-image: url("./img/img1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  top: 10px;
  flex-wrap: wrap;
  padding-top: 30px;
  position: relative;
  width: 100%;
  
}

#thumbnail-container img {
  height: 70px; 
  width: auto;
  cursor: pointer;
  border: 1px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#thumbnail-container img:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
}

.control-btn {
  display: flex;
  position: relative;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

#btn-stop {
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 12px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#btn-stop:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

img:hover {
  cursor: pointer;
  animation: bounce 0.5s ease-in-out;
  transform: scale(1.4);
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3); 
  border: 1px solid black;
}

#display-img {
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  #thumbnail-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
  }

  #thumbnail-container img {
    width: 90%;
    max-width: 300px;
    height: auto;
  }

  body {
    background-size: contain;
    height: auto;
  }

  .control-btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 799px) {
  #thumbnail-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  #thumbnail-container img {
    width: 80%;
    max-width: 400px;
    height: auto;
  }

  body {
    background-size: cover;
  }
}

@media (min-width: 800px) {
  #thumbnail-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  #thumbnail-container img {
    height: 100px;
    width: auto;
  }

  body {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
}